body {
    background: #edeef0;
}

#tittle {
    text-align: center;
    font-size: 30px;
}

#article {
    text-align: justify;
    font-size: 20px;
}

#send {
    width: 120px;
    height: 32px;
    padding: 0 0 2px;
    font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #704A25;
    border: 1px solid #D2A146;
    border-top: 1px solid #EAB551;
    border-bottom: 1px solid #AF8234;
    text-shadow: 1px 1px #FEDFA0;
    box-shadow:
            inset 0 1px #FEE9AA,
            inset 1px 0 #FED67F,
            inset -1px 0 #FEDA85,
            inset 0 -1px #FECA6F,
            0 2px #B98A37,
            0 3px #9F7630,
            0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top, #feda71 0%, #febe4d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feda71), color-stop(100%,#febe4d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feda71 0%,#febe4d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feda71 0%,#febe4d 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #feda71 0%,#febe4d 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feda71', endColorstr='#febe4d',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #feda71 0%,#febe4d 100%); /* W3C */
    background-color: #FED166;
}
.submit::-moz-focus-inner{border:0}
.submit:hover {
    border-top: 1px solid #E6A93D;
    box-shadow:
            inset 0 1px #FEDB98,
            inset 1px 0 #FED67F,
            inset -1px 0 #FEDA85,
            inset 0 -1px #FED781,
            0 2px #B98A37,
            0 3px #9F7630,
            0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top, #fec455 0%, #fecd61 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fec455), color-stop(100%,#fecd61)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fec455 0%,#fecd61 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fec455 0%,#fecd61 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fec455 0%,#fecd61 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec455', endColorstr='#fecd61',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #fec455 0%,#fecd61 100%); /* W3C */
    background-color: #FED166;
}
.submit:active {
    top: 3px;
    border: 1px solid #CF9D42;
    border-top: 1px solid #A77F35;
    border-bottom: 1px solid #E2AC48;
    background: #FEC151;
    box-shadow: inset 0 1px 2px #C49846;
}
#comments {
    width: 1000px;
}

.action {
    display: flex;
}

#answer{
    width: 90px;
    height: 20px;
    padding: 0 0 2px;
    font: 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #42788E;
    text-shadow: 1px 1px #B6E6F9;
    border: 1px solid #60A7C1;
    border-top: 1px solid #8CC5D9;
    border-bottom: 1px solid #4191B0;
    box-shadow:
            inset 0 1px #CDEFFB,
            inset 1px 0 #A8E2F8,
            inset -1px 0 #A8E2F8,
            inset 0 -1px #8DD9F5,
            0 2px #589CB6,
            0 3px #4E8AA1,
            0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #abe4f8 0%, #74d0f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abe4f8), color-stop(100%,#74d0f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* IE10+ */
    background: linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abe4f8', endColorstr='#74d0f4',GradientType=0 ); /* IE6-9 */
    background-color: #8CD8F6;
}
.submit::-moz-focus-inner{border:0}
.submit:hover {
    border-top: 1px solid #79ACBE;
    box-shadow:
            inset 0 1px #B2E6F8,
            inset 1px 0 #A8E2F8,
            inset -1px 0 #A8E2F8,
            inset 0 -1px #A8E2F8,
            0 2px #589CB6,
            0 3px #4E8AA1,
            0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #80d4f5 0%, #92dbf6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80d4f5), color-stop(100%,#92dbf6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* IE10+ */
    background: linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80d4f5', endColorstr='#92dbf6',GradientType=0 ); /* IE6-9 */
    background-color: #8CD8F6;
}
.submit:active {
    top: 3px;
    border: 1px solid #72AFC5;
    border-top: 1px solid #5C8D9F;
    border-bottom: 1px solid #7DBFD8;
    background: #8CD6F3;
    box-shadow: inset 0 1px 2px #50A5C5;
}

#edit {
    width: 90px;
    height: 20px;
    padding: 0 0 2px;
    font: 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #913944;
    border: 1px solid #D16573;
    border-top: 1px solid #EE8090;
    border-bottom: 1px solid #B84D5A;
    text-shadow: 1px 1px #F9A0AD;
    box-shadow:
            inset 0 1px #FBC1D0,
            inset 1px 0 #F99AAB,
            inset -1px 0 #F99AAB,
            inset 0 -1px #F68391,
            0 2px #CB5462,
            0 3px #B84D5A,
            0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #f997b0 0%, #f56778 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f997b0), color-stop(100%,#f56778)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f997b0 0%,#f56778 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f997b0 0%,#f56778 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f997b0 0%,#f56778 100%); /* IE10+ */
    background: linear-gradient(top,  #f997b0 0%,#f56778 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f997b0', endColorstr='#f56778',GradientType=0 ); /* IE6-9 */
    background-color: #F77E94;
}
.submit::-moz-focus-inner{border:0}
.submit:hover {
    border-top: 1px solid #E26272;
    box-shadow:
            inset 0 1px #F9AAB5,
            inset 1px 0 #F99AAB,
            inset -1px 0 #F99AAB,
            inset 0 -1px #F99BAC,
            0 2px #CB5462,
            0 3px #B84D5A,
            0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #f57184 0%, #f78297 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f57184), color-stop(100%,#f78297)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f57184 0%,#f78297 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f57184 0%,#f78297 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f57184 0%,#f78297 100%); /* IE10+ */
    background: linear-gradient(top,  #f57184 0%,#f78297 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f57184', endColorstr='#f78297',GradientType=0 ); /* IE6-9 */
    background-color: #F77E94;
}
.submit:active {
    top: 3px;
    border: 1px solid #C75866;
    border-top: 1px solid #A14753;
    border-bottom: 1px solid #DA6070;
    background: #F56C7E;
    box-shadow: inset 0 1px 2px #C13345;
}

#new_comment {
    margin-top: 5px;
}

comment {
    margin: 5px 5px 5px 5px;
}

#text_comment {
    font-size: 20px;
}

.hidden {
    display: none;
}